In [5]:
import pandas as pd
import numpy as np

# Ustawienia dla reprodukowalności
np.random.seed(42)

# Parametry
n_machines = 30  # Liczba maszyn
start_date = '2022-01-01'
end_date = '2024-10-31'

# Generowanie dat (codzienne dane)
dates = pd.date_range(start=start_date, end=end_date, freq='D')

# Generowanie danych
machine_ids = []

# Generowanie realistycznych identyfikatorów maszyn
models = ['M1000', 'M2000', 'M3000', 'M4000', 'M5000']  # Przykładowe modele
locations = ['L01', 'L02', 'L03', 'L04']  # Przykładowe lokalizacje
for i in range(n_machines):
    model = np.random.choice(models)  # Wybór losowego modelu
    location = np.random.choice(locations)  # Wybór losowej lokalizacji
    serial_number = np.random.randint(1000, 9999)  # Losowy numer seryjny
    machine_id = f'{model}_{location}_{serial_number}'  # Tworzenie identyfikatora maszyny
    machine_ids.append(machine_id)

# Nowe czujniki
data = []

for machine_id in machine_ids:
    machine_age_start_year = np.random.randint(2010, 2021)  # Wiek maszyny: maszyna zainstalowana między 2012 a 2021 rokiem
    machine_age = 2022 - machine_age_start_year  # Obliczanie wieku maszyny na początku 2022 roku

    # Obliczamy początkowy czas pracy maszyny
    days_in_service = machine_age * 365  # Liczba dni w pracy
    initial_working_hours = np.random.uniform(12, 16) * days_in_service  # Średnia liczba godzin pracy maszyny na dzień przez jej wiek

    total_working_hours = initial_working_hours  # Początkowy czas pracy maszyny

    for date in dates:
        # Losowe wartości dla czujników
        temperature = np.random.normal(loc=75, scale=5)  # Średnia temperatura 75°C z odchyleniem standardowym 5
        vibration = np.random.normal(loc=0.5, scale=0.1)  # Średnia wibracja 0.5 mm/s
        pressure = np.random.normal(loc=100, scale=10)  # Średnie ciśnienie 100 Pa
        rpm = np.random.normal(loc=1500, scale=200)  # Średnie obroty 1500 rpm
        humidity = np.random.normal(loc=50, scale=10)  # Średnia wilgotność 50%
        oil_level = np.random.normal(loc=80, scale=10)  # Średni poziom oleju 80%
        oil_pressure = np.random.normal(loc=200, scale=15)  # Średnie ciśnienie oleju 200 Pa
        ambient_temp = np.random.normal(loc=22, scale=4)  # Temperatura otoczenia (w stopniach Celsjusza)
        load = np.random.normal(loc=70, scale=10)  # Obciążenie maszyny (%)

        # Codzienny czas pracy maszyny (np. losowo od 12 do 16 godzin dziennie)
        daily_working_hours = np.random.uniform(12, 16)
        total_working_hours += daily_working_hours  # Narastający czas pracy maszyny

        # Aktualizacja wieku maszyny na podstawie daty
        machine_age = 2022 - machine_age_start_year + (date.year - 2022)

        # Złożona logika generowania awarii
        failure_probability = (
                (temperature > 80) * 0.2 +
                (vibration > 0.58) * 0.18 +
                (oil_level < 60) * 0.15 +
                (humidity > 55) * 0.1 +
                (total_working_hours > 45000) * 0.18 +
                (ambient_temp > 24) * 0.05 +
                (load > 83) * 0.14
        )

        # Dodajemy element losowości do procesu
        failure_chance = np.random.random()
        failure = 1 if failure_probability > failure_chance else 0

        data.append([machine_id, date, temperature, vibration, pressure, rpm, humidity, oil_level, oil_pressure, total_working_hours, ambient_temp, load, machine_age, failure])

# Tworzenie DataFrame
df = pd.DataFrame(data, columns=['Machine_ID', 'Date', 'Temperature', 'Vibration', 'Pressure', 'RPM', 'Humidity', 'Oil_Level', 'Oil_Pressure', 'Working_Hours', 'Ambient_Temperature', 'Load', 'Machine_Age', 'Failure'])

# Zapisanie danych do pliku CSV
df.to_csv('machine_failure_data_3.csv', index=False)

df.head()

,Machine_ID,Date,Temperature,Vibration,Pressure,RPM,Humidity,Oil_Level,Oil_Pressure,Working_Hours,Ambient_Temperature,Load,Machine_Age,Failure
0,M4000_L01_6390,2022-01-01,56.243232,0.363322,106.363051,1318.655866,54.760426,99.554919,203.173805,19263.720546,24.388179,56.554972,4,0
1,M4000_L01_6390,2022-01-02,73.880122,0.595001,117.265165,1591.577015,33.157126,84.902678,198.783216,19276.664486,23.871179,81.041835,4,0
2,M4000_L01_6390,2022-01-03,73.494661,0.403444,101.504891,1477.315750,76.335282,64.623637,188.269283,19289.476731,23.695772,83.090576,4,0
3,M4000_L01_6390,2022-01-04,97.872260,0.662292,108.237331,1558.611849,58.966304,70.845170,195.257512,19303.142771,16.070303,66.567287,4,0
4,M4000_L01_6390,2022-01-05,67.259571,0.464022,107.240833,1448.847073,58.499212,60.330137,186.945426,19317.912515,19.973427,50.350740,4,0